/* Base Application Styles */
body {
  background: #333;
}

.index img {
  margin: 20px auto 0px;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
.filmInfo{
  width:600px;
  margin: 0 auto;
}