/* Base Application Styles */
body {
  background: #ddd;
}
body, input, button, select, textarea, table {
    font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
    font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
}
.index img {
  margin: 20px auto 0px;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #333;
}
.filmInfo{
  width:600px;
  margin: 0 auto;
}
.application-view {
    padding: 50px 0 0;
}