#header .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	border: 1px solid #fff;
	background-color: transparent;
	opacity: 1;
}

#header .swiper-pagination-bullet-active {
	background-color: #fff;
}

.img {
	width: 100%;
	height:auto;
}
.movieItem{
	background-color: #fff;
	width:600px;
	height: 50px;
	margin:0 auto;
	display: block;
}
.film-name{
	font-size: 12px;
	line-height: 15px;
}
.left{
	height: 50px;
    padding-right: 0;
    padding-top: 13px;
    padding-left: 28px;
}
.count{
	font-size: 8px;
	line-height: 15px;
	color: #9a9a9a;
}
.col-left{
	width:80%;
	float: left;
}
.col-right{
	width: 15%;
	float: right;
}
.score{
	color: #f78360;
    display: inline-block;
    line-height: 50px;
    float: right;
    margin-right: 15px;
    font-size: 18px;
}
.more{
	width:600px;
	height: 100px;
	background-color: #fff;
}
.more-button {
    width: 160px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 10px auto 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #616161;
    cursor: pointer;
}
.dividing-line {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #a8a8a8;
}
.upcoming {
    width: 65px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: -10px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #eee;
    background-color: #a7a7a7;
}
 .will-desc{
	height: 35px;
	background-color: #fff;
	display: block;
	width: 600px;
}
.upcoming-left {
    height: 35px;
    padding-right: 0;
    padding-top: 10px;
    padding-left: 28px;
}

.col-xs-7{
	width:51%;
	float: left;
}
.col-xs-3{
	float: left;
	width:38%;
	padding-left: 0px;
}
.showing-date {
    font-size: 10px;
    color: RGB(245, 162, 125);
    line-height: 35px;
    height: 35px;
    padding-right: 0;
    padding-top: 10px;
    padding-left: 28px;
  }



