#header .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	border: 1px solid #fff;
	background-color: transparent;
	opacity: 1;
}

#header .swiper-pagination-bullet-active {
	background-color: #fff;
}

.img {
	width: 100%;
	height:auto;
}
.movieItem{
	background-color: #fff;
	width:600px;
	height: 50px;
	margin:0 auto;
	display: block;
}
.film-name{
	font-size: 12px;
	line-height: 15px;
}
.left{
	height: 50px;
    padding-right: 0;
    padding-top: 13px;
    padding-left: 28px;
}
.count{
	font-size: 8px;
	line-height: 15px;
	color: #9a9a9a;
}
.col-left{
	width:80%;
	float: left;
}
.col-right{
	width: 15%;
	float: right;
}
.score{
	color: #f78360;
    display: inline-block;
    line-height: 50px;
    float: right;
    margin-right: 15px;
    font-size: 18px;
}
