@font-face {
  font-family: 'iconfont';  /* project id 286018 */
  src: url('//at.alicdn.com/t/font_f4cd57oic6jemi.eot');
  src: url('//at.alicdn.com/t/font_f4cd57oic6jemi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_f4cd57oic6jemi.woff') format('woff'),
  url('//at.alicdn.com/t/font_f4cd57oic6jemi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_f4cd57oic6jemi.svg#iconfont') format('svg');
}

.iconfont{
	font-family:"iconfont";
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale; 
    padding-left:20px
}
#toolbar {
    background: #282828;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    left: 0;
    bottom: 10px;
    width: auto;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
#toolbar h1 {
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    width: auto;
    height: 50px;
    margin: 0 auto;
    float: left;
}
.notybar-upside {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transform-origin: 0 25px -25px;
    transform-origin: 0 25px -25px;
}
.toolbar-title-icon {
    float: left;
    width: 48px;
    text-align: center;
    border-right: 1px solid #222;
    box-shadow: 1px 0 1px #363636;
    color: #999;
}
.toolbar-title {
    padding: 0 1em;
    float: left;
    font-size: 14px;
    color: #efefef;
    text-overflow: ellipsis;
    white-space: nowrap;
    displdday: inline-block;
    overflow: hidden;
}
#nav-right{
	float: right;
}
#nav-right a {
    color: #999;
}
#nav-right .city {
    float: left;
    font-size: 14px;
    padding: 0 6px;
}
#nav-right .city i {
    font-size: 12px;
}